<div class="container">
    <h2 class="jumbotron-heading" align="center">@ViewData["Title"]</h2>
    @*<a align="center" class="btn btn-primary my-2" href="https://github.com/Fantastic-Five-for-CSharp/Group-Assignment-4" target="_blank">GitHub</a>*@

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <img src="../img/p1.jpg" class="profile-img" width="130" height="140">
                <h2>Qian Wang</h2>
                <p>
                    Qian Wang is a Business Analytics and Information Systems graduate student at University of South Florida. She is a highly effective data analyst with excellent problem-solving skills. She is also a good team player, and is able to lead projects as well as participate actively as a team member. In this assignment, she is responible for data model, update index and about us page and refinement.
          