
@{
    ViewData["Title"] = "About us";
}

<div class="container">
    <h2 class="jumbotron-heading" align="center">@ViewData["Title"]</h2>
    <a align="center" class="btn btn-primary my-2" href="https://github.com/Fantastic-Five-for-CSharp/Group-Assignment-4" target="_blank">GitHub</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <img src="img/p1.jpg" class="profile-img" width="130" height="140">
                <h2>Qian Wang</h2>
                <p>
                    Qian Wang is a Business Analytics and Information Systems graduate student at University of South Florida. She is a highly effective data analyst with excellent problem-solving skills. She is also a good team player, and is able to lead projects as well as participate actively as a team member. In this assignment, she is responible for building the home page, about us page.
                    <a href="https://github.com/Fantastic-Five-for-CSharp/Group-Assignment-4" style="color:yellow">Git_page</a>
                </p>
            </th>
            <th>
                <img src="img/p2.jpg" class="profile-img" width="130" height="140">
                <h2>You Zhou</h2>
                <p>
                    You Zhou is currently pursuing the BAIS degree in the USF Muma college of Business.He has a background of Business Adminstration and relatied experience in Project Management Process Enhencement.
                    He worked on the Mainpage as well as the related css files. And original data acquisition with cleaning process.
                    <a href="https://github.com/Fantastic-Five-for-CSharp/Group-Assignment-4" style="color:yellow">Git_page</a>
                </p>
            </th>
            <th>
                <img src="img/p3.jpg" class="profile-img" width="130" height="140">
                <h2>Shitao Liao</h2>
                <p>
                    Shitao Liao is now persuing his master's degree in business analytics and information systems at University of South Florida. His interest areas are database design and data analysis. He is responsible for the design of detail page and data model.
                    <a href="https://github.com/Fantastic-Five-for-CSharp/Group-Assignment-4" style="color:yellow">Git_page</a>
                </p>
            </th>
        </tr>
    </thead>
</table>

<div class="row">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <div id="chartContainer1" style="width: 31%; height: 160px;display: inline-block;"></div>
    <div id="chartContainer2" style="width: 31%; height: 160px;display: inline-block;"></div>
    <div id="chartContainer3" style="width: 31%; height: 160px;display: inline-block;"></div>
    <script>
        var chart = new CanvasJS.Chart("chartContainer1",
            {
                animationEnabled: true,
                title: {
                    text: "Qian's Contribution",
                },
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        indexLabel: "{label} - #percent%",
                        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                        dataPoints: [
                            { y: 30, label: "API", color: "rgb(30,144,255)" },
                            { y: 30, label: "Database Design", color: "rgb(65,105,225)" },
                            { y: 40, label: "View Design", color: "rgb(0,0,128)" },
                        ]
                    },
                ]
            });
        chart.render();

        var chart = new CanvasJS.Chart("chartContainer2",
            {
                animationEnabled: true,
                title: {
                    text: "You's Contribution",
                },
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        indexLabel: "{label} - #percent%",
                        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                        dataPoints: [
                            { y: 50, label: "API", color: "rgb(301,144,255)" },
                            { y: 15, label: "Database Design", color: "rgb(615,101,225)" },
                            { y: 35, label: "View Design", color: "rgb(20,40,128)" },
                        ]
                    },
                ]
            });
        chart.render();

        var chart = new CanvasJS.Chart("chartContainer3",
            {
                animationEnabled: true,
                title: {
                    text: "Shitao's Contribution",
                },
                axisY: {
                    title: "Percentile"
                },
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        indexLabel: "{label} - #percent%",
                        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                        dataPoints: [
                            { y: 30, label: "API", color: "rgb(301,144,255)" },
                            { y: 25, label: "Database Design", color: "rgb(651,105,225)" },
                            { y: 45, label: "View Design", color: "rgb(101,10,128)" },
                        ]
                    },
                ]
            });
        chart.render();
    </script>
</div>

<div class="container bg-white">
    <h2 align="center">Data Model</h2>
    <img class="img-custom" src="img/ERD.png" alt="DataModel">
    <hr>
</div>

