<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2 align="center"> Parks In DC </h2>
<table style="width:100%">
    <tr>
        <th>Park Name </th>
        <th>Park Code</th>
        <th>URL</th>
        <th>Description</th>

    </tr>
    <tr>
        <td>African American Civil War Memorial</td>
        <td>afam</td>
        <td>https://www.nps.gov/afam/index.htm</td>
        <td>Over 200,000 African-American soldiers and sailors served in the U.S. Army and Navy during the Civil War. Their service helped to end the war and free over four million slaves. The African American Civil War Memorial honors their service and sacrifice.</td>
    </tr>
    <tr>
        <td>Anacostia Park</td>
        <td>anac</td>
        <td>https://www.nps.gov/anac/index.htm</td>
        <td>Welcome to Anacostia Park, your neighborhood national park in the heart of Washington, DC! Enjoy exercise along the river trail or relax by the water, Anacostia Park is a breath of fresh air and a space to unwind amid a bustling city.</td>
    </tr>
    <tr>
        <td>Belmont-Paul Women's Equality National Monument</td>
        <td>bepa</td>
        <td>https://www.nps.gov/bepa/index.htm</td>
        <td>Home to the National Woman's Party for more than 90 years, this was the epicenter of the struggle for women's rights. From this house in the shadow of the U.S. Capitol and Supreme Court, Alice Paul and the NWP developed innovative strategies and tactics to advocate for the Equal Rights Amendment and equality for women. President Barack Obama designated the national monument on April 12, 2016.</td>
    </tr>
    <tr>
        <td>Capitol Hill Parks</td>
        <td>cahi</td>
        <td>https://www.nps.gov/cahi/index.htm</td>
        <td>The Capitol Hill Parks include several park areas east of the U.S. Capitol. Included in this group are Folger, Lincoln, Stanton, and Marion Parks, the Eastern Market and Potomac Avenue Metro stations, and several smaller land parcels such as Seward Square, Twining Square, the Maryland Avenue Triangles, the Pennsylvania Avenue Medians, and 59 inner-city triangles and squares.</td>
    </tr>
</table>
<div align="center">
    <a id="dbopt" asp-controller="Home" asp-action="DC" onclick="clickAlert()" value="Click-2-Alert"><img src="~/img/images.jpg" /></a>
</div>

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>

<script>
    function clickAlert() {
        alert("Data Saved!");
    }
</script>