
    <section>
        <div class="title">
            <h1>All About Parks</h1>
            <p>This is a full-stack web application developed by three graduate students at University of South Florida. This website lets you fetch nantonal park data from data.gov using API. </p>
            <p>Click the Button Blow to explore the relative information about National Parks</p>

                <div>
                <a asp-controller="Home" asp-action="Tours" button type="margin:5px" class="btn btn-info">Explore Tours Information</a>
                </div>
                <div>
                <a asp-controller="Home" asp-action="Camps" button type="margin:5px" class="btn btn-info">Explore Camps Information</a>
                </div>
            </div>
        @*</div>
        </div>*@
   </section>

  



