<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2 align="center"> Parks In OH </h2>
<table style="width:100%">
    <tr>
        <th>Park Name </th>
        <th>Park Code</th>
        <th>URL</th>
        <th>Description</th>

    </tr>
    <tr>
        <td>Charles Young Buffalo Soldiers National Monument</td>
        <td>chyo</td>
        <td>https://www.nps.gov/chyo/index.htm</td>
        <td>Throughout his life, Charles Young overcame countless obstacles in his ascent to prominence. In spite of overt racism and stifling inequality, Young rose through the military ranks to become one of the most respected leaders of his time. A well-rounded man with a steadfast devotion to duty, Young led by example and inspired a generation of new leaders.</td>
    </tr>
    <tr>
        <td>Cuyahoga Valley National Park</td>
        <td>cuva</td>
        <td>https://www.nps.gov/cuva/index.htm</td>
        <td>Though a short distance from the urban areas of Cleveland and Akron, Cuyahoga Valley National Park seems worlds away. The park is a refuge for native plants and wildlife, and provides routes of discovery for visitors. The winding Cuyahoga River gives way to deep forests, rolling hills, and open farmlands. Walk or ride the Towpath Trail to follow the historic route of the Ohio & Erie Canal.</td>
    </tr>
    <tr>
        <td>Dayton Aviation Heritage National Historical Park</td>
        <td>daav</td>
        <td>https://www.nps.gov/daav/index.htm</td>
        <td>Three exceptional men from Dayton, Ohio, Wilbur Wright, Orville Wright and Paul Laurence Dunbar, found their creative outlet here through accomplishments and failures, and finally success. However, these men offered the world something far greater, they offered the world hope, and the ability to take a dream and make it a reality.</td>
    </tr>
    <tr>
        <td>Fallen Timbers Battlefield and Fort Miamis National Historic Site</td>
        <td>fati</td>
        <td>https://www.nps.gov/fati/index.htm</td>
        <td>The Battle of Fallen Timbers was the culminating event that demonstrated the tenacity of the American people in their quest for western expansion and the struggle for dominance in the Old Northwest Territory. The events resulted in the dispossession of American Indian tribes and a loss of colonial territory for the British military and settlers.</td>
    </tr>

</table>

<div align="center">
    <a id="dbopt" asp-controller="Home" asp-action="OH" onclick="clickAlert()" value="Click-2-Alert"><img src="~/img/images.jpg" /></a>
</div>

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>

<script>
    function clickAlert() {
        alert("Data Saved!");
    }
</script>