@model Group_Assignment_4.Models.Parks

<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2 align="center"> Park Information </h2>
<h5 align="center"> Click any States Name to explore related parks.</h5>
<hr />
<table class="table table-responsive-sm table-striped text-center pb-2 mb-2 resp">
    <thead>
        <tr>
            <th>
                State
            </th>
            <th>
                Park Name
            </th>
            <th>
                Park Code
            </th>

            <th>
                Park Descritpion
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>

                <a asp-controller="Home" asp-action="TX" class="btn btn-primary my-2">TX</a>

            </td>
            <td>
                Fort Davis
            </td>
            <td>
                foda
            </td>

            <td>
                Fort Davis is one of the best surviving examples of an Indian Wars' frontier military post in the Southwest. From 1854 to 1891, Fort Davis was strategically located to protect emigrants, mail coaches, and freight wagons on the Trans-Pecos portion of the San Antonio-El Paso Road and on the Chihuahua Trail.
            </td>

        </tr>
        <tr>
            <td>

                <a asp-controller="Home" asp-action="NY" class="btn btn-primary my-2">NY</a>

            </td>
            <td>
                Fort Stanwix
            </td>
            <td>
                fost
            </td>
            <td>
                For centuries, the Oneida Carrying Place, a six mile portage connecting the Mohawk River and Wood Creek, served as a vital link for those traveling by water from the ocean to the Great Lakes. When Europeans arrived, nations fought for control of the carry, the homelands of the Six Nations Confederacy, and the rich resources of North America. In this struggle, Fort Stanwix would play a vital role.
            </td>

        </tr>

        <tr>
            <td>

                <a asp-controller="Home" asp-action="OH" class="btn btn-primary my-2">OH</a>

            </td>
            <td>
                National Aviation
            </td>
            <td>
                avia
            </td>
            <td>
                Aviation is chock-full of tradition & history and nowhere will you find a richer collection of aviation than here, the birthplace of aviation. From the straightforward bicycle shops that fostered the Wright brothers' flying ambitions to the complex spacecraft that carried man to the moon, the National Aviation Heritage Area has everything you need to learn about this country’s aviation legacy.
            </td>
        </tr>

        <tr>
            <td>

                <a asp-controller="Home" asp-action="DC" class="btn btn-primary my-2">DC</a>

            </td>
            <td>
                National Capital Parks-East
            </td>
            <td>
                nace
            </td>
            <td>
                Welcome to National Capital Parks-East. We invite you to journey to parks Beyond the Capital of Washington, D.C. National Capital Parks-East is 13 park sites, parkways and statuary covering more than 8,000 acres of historic, cultural, and recreational parklands from Capitol Hill to the nearby Maryland suburbs
            </td>
        </tr>


        <tr>
            <td>

                <a asp-controller="Home" asp-action="VA" class="btn btn-primary my-2">VA</a>

            </td>
            <td>
                Yorktown Battlefield
            </td>
            <td>
                york
            </td>
            <td>
                Discover what it took for the United States to be independent as you explore the site of the last major battle of the Revolutionary War. Here at Yorktown, in the fall of 1781, General George Washington, with allied American and French forces, besieged General Charles Lord Cornwallis’s British army. On October 19, Cornwallis surrendered, effectively ending the war and ensuring independence
            </td>
        </tr>


    </tbody>
</table>

<div align="center">
    <form>
        <a id="dbopt" asp-controller="Home" asp-action="Parks" align="center" onclick="clickAlert()" value="Click-2-Alert"><img src="~/img/images.jpg" /></a>
    </form>&nbsp;&nbsp;
    <form>
        <button type="submit" asp-controller="Home" asp-action="ParkUpdate" class="btn btn-primary btn-sm">Update</button>
        <button type="submit" asp-controller="Home" asp-action="ParkDelete" class="btn btn-primary btn-sm">Delete</button>
    </form>
</div>

</td>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>

<script>
    function clickAlert() {
        alert("Data Saved!");
    }
</script>
</script>


