@model Group_Assignment_4.Models.Parks

<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2 align="center"> Park Information </h2>
<hr />
<table class="table table-responsive-sm table-striped text-center pb-2 mb-2 resp">
    <thead>
        <tr>
            <th>
                Park Name
            </th>
            <th>
                Park ID
            </th>
            <th>
                State
            </th>
            <th>
                Park Descritpion
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.data)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.states)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>


        </tr>
        }
        <tr>
            <td>
                <a id="dbopt" asp-controller="Home" asp-action="PopulateSymbols"><img src="~/images/button_save-data.png" /></a>
            </td>
        </tr>
    </tbody>
</table>
