<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2 align="center"> Parks In TX </h2>
<table style="width:100%">
    <tr>
        <th>Park Name </th>
        <th>Park Code</th>
        <th>URL</th>
        <th>Description</th>

    </tr>
    <tr>
        <td>Alibates Flint Quarries National Monument</td>
        <td>alfl</td>
        <td>https://www.nps.gov/alfl/index.htm</td>
        <td>13,000 years ago, this site was well-known by mammoth hunters as a source of flint for tools. Centuries passed but the colorful flint never lost its value and usefulness in the Texas Panhandle. Gain a sense of how integral this site was to the survival, commerce and culture of the High Plains. Visit Alibates Flint Quarries to see the many colors of the beautiful Alibates Flint.</td>
    <tr>
        <td>Amistad National Recreation Area</td>
        <td>amis</td>
        <td>https://www.nps.gov/amis/index.htm</td>
        <td>An oasis in the desert, Amistad National Recreation Area consists of the US portion of the International Amistad Reservoir. Amistad, whose name comes from the Spanish word meaning friendship, is best known for excellent water-based recreation, camping, hiking, rock art viewing, and its rich cultural history. Amistad is also home to a wide variety of plant and animal life above and below the water.</td>
    </tr>
</table>