<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2 align="center"> Parks In TX </h2>
<table style="width:100%">
    <tr>
        <th>Park Name </th>
        <th>Park Code</th>
        <th>URL</th>
        <th>Description</th>

    </tr>
    <tr>
        <td>Alibates Flint Quarries National Monument</td>
        <td>alfl</td>
        <td>https://www.nps.gov/alfl/index.htm</td>
        <td>13,000 years ago, this site was well-known by mammoth hunters as a source of flint for tools. Centuries passed but the colorful flint never lost its value and usefulness in the Texas Panhandle. Gain a sense of how integral this site was to the survival, commerce and culture of the High Plains. Visit Alibates Flint Quarries to see the many colors of the beautiful Alibates Flint.</td>
    <tr>
        <td>Amistad National Recreation Area</td>
        <td>amis</td>
        <td>https://www.nps.gov/amis/index.htm</td>
        <td>An oasis in the desert, Amistad National Recreation Area consists of the US portion of the International Amistad Reservoir. Amistad, whose name comes from the Spanish word meaning friendship, is best known for excellent water-based recreation, camping, hiking, rock art viewing, and its rich cultural history. Amistad is also home to a wide variety of plant and animal life above and below the water.</td>
    </tr>
    <tr>
        <td>Big Bend National Park</td>
        <td>bibe</td>
        <td>https://www.nps.gov/bibe/index.htm</td>
        <td>There is a place in Far West Texas where night skies are dark as coal and rivers carve temple-like canyons in ancient limestone. Here, at the end of the road, hundreds of bird species take refuge in a solitary mountain range surrounded by weather-beaten desert. Tenacious cactus bloom in sublime southwestern sun, and diversity of species is the best in the country. This magical place is Big Bend...</td>
    </tr>
    <tr>
        <td>Big Thicket National Preserve</td>
        <td>bith</td>
        <td>https://www.nps.gov/bith/index.htm</td>
        <td>Life of all types abounds in the Big Thicket. This national preserve protects the incredible diversity of life found where multiple habitats converge in southeast Texas. Hiking trails and waterways meander through nine different ecosystems, from longleaf pine forests to cypress-lined bayous. It is a place of discovery, a place to wander and explore, a place to marvel at the richness of nature.</td>
    </tr>
</table>

<div align="center">
    <a id="dbopt" asp-controller="Home" asp-action="TX" onclick="clickAlert()" value="Click-2-Alert"><img src="~/img/images.jpg" /></a>
</div>

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>

<script>
    function clickAlert() {
        alert("Data Saved!");
    }
</script>