<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        max-width: 2200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h2 align="center"> Parks In VA </h2>
<table style="width:100%">
    <tr>
        <th>Park Name </th>
        <th>Park Code</th>
        <th>URL</th>
        <th>Description</th>

    </tr>
    <tr>
        <td>Appalachian National Scenic Trail"</td>
        <td>appa</td>
        <td>https://www.nps.gov/appa/index.htm</td>
        <td>The Appalachian Trail is a 2,180+ mile long public footpath that traverses the scenic, wooded, pastoral, wild, and culturally resonant lands of the Appalachian Mountains. Conceived in 1921, built by private citizens, and completed in 1937, today the trail is managed by the National Park Service, US Forest Service, Appalachian Trail Conservancy, numerous state agencies and thousands of volunteers.</td>
    </tr>
    <tr>
        <td>Appomattox Court House National Historical Park</td>
        <td>apco</td>
        <td>https://www.nps.gov/apco/index.htm</td>
        <td>On April 9, 1865, the surrender of the Army of Northern Virginia in the McLean House in the village of Appomattox Court House, Virginia signaled the end of the nation's largest war. Two important questions about its future were answered. Could the nation survive a civil war intact, and would that nation exist without slavery? The answer to both was yes and a new nation was born.</td>
    </tr>
    <tr>
        <td>Arlington House, The Robert E. Lee Memorial</td>
        <td>arho</td>
        <td>https://www.nps.gov/arho/index.htm</td>
        <td>Arlington House is the nation’s memorial to Robert E. Lee. It honors him for specific reasons, including his role in promoting peace and reunion after the Civil War. In a larger sense it exists as a place of study and contemplation of the meaning of some of the most difficult aspects of American History: military service; sacrifice; citizenship; duty; loyalty; slavery and freedom.</td>
    </tr>
    <tr>
        <td>Assateague Island National Seashore</td>
        <td>asis</td>
        <td>https://www.nps.gov/asis/index.htm</td>
        <td>Want to live on the edge? Visit a place recreated each day by ocean wind and waves. Life on Assateague Island has adapted to an existence on the move. Explore sandy beaches, salt marshes, maritime forests and coastal bays. Rest, relax, recreate and enjoy some time on the edge of the continent.</td>
    </tr>


</table>

<div align="center">
    <a id="dbopt" asp-controller="Home" asp-action="VA" onclick="clickAlert()" value="Click-2-Alert"><img src="~/img/images.jpg" /></a>
</div>

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>

<script>
    function clickAlert() {
        alert("Data Saved!");
    }
</script>